#titulo{
    text-align: left;
    margin-bottom: 25px;
    margin-top: 10%;
}

#sub-titulo{
    margin-left: 10px;
}

hr{
    width: 95%;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Distribui o espaço entre as linhas */
}

.card{
    background-color: #FD7058;
    text-align: center;
    display: inline-block;
    height: 120px;
    margin: 1%;
    width: 20%;
    padding: 15px 25px 15px 25px;
    position:-webkit-sticky;
    border-radius: 17px;
    box-shadow: 1px 4px 10px #000;
    transition: 0.3s;

}

.card img{
    margin-top: 3%;
    margin-bottom: 15px;
}

.card a{
    color: #ffff;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

/* --------- INPUT PESQUISA ------------------- */

.box-busca{ 
    display: block;
    width: auto;
    margin-left: 20%;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.search-box{
    width: 60%;
    
}


.search-box-input::placeholder {   
    color:#ffffff;
    opacity: 0.6;
}

/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #ffffff; }

/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #ffffff; }

/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }


.search-box form {
    display: flex;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.347);
    background-color: white;
    height: 30px;

}

input[type='submit']{
    padding: 15px;
}

.search-box-input {
    padding-left: 30px;
    padding-right: 20px;
    width: 100%;
    font-size: 1em;
    color: rgb(0, 0, 0);
    border: none;
    background: none;
    transition: .45s;

}

.search-box-button {
   display: flex;
   width: 100%;
   height: 100%;
   background-image: url('https://cdn-icons-png.flaticon.com/512/149/149852.png');
   text-align: left;
   background-color: #fff;
   background-position: right;
   background-size: 1.5rem;
   background-repeat: no-repeat;
   margin-right: 10px;
   padding: 0px;
   font-weight: 500;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   transition: .3s;

}

.search-box-icone {

    margin: auto;
    color: #fff;

}