#section-esquerda{
    width: 40%;
    background-color: #EEB253;
    height: 800px;
    position: fixed;
    float: left;
}

#section-direita{
    width: 60%;
    float: right;
    margin-left: 30%;
    margin-top: 50px;
}


#conteiner-formulario{
    padding-top: 90px;
    width: 100%;
}

#conteiner-dados{
    margin: 60px auto;
    height: 300px;
    text-align: center;
    width: 50%;
}

form{
    text-align: center;
    padding: 0px 50px; 
    width: 60% auto;
    display: grid;
}


input{
    margin-top: 20px;
    padding: 3%;
    border-radius: 20px;
    border: 1px solid;
}

#redefSenha{
    margin-top: 10px;
}

#name::placeholder{
    background-image: url("https://png.pngtree.com/png-vector/20190411/ourmid/pngtree-vector-business-men-icon-png-image_925963.jpg");
    text-align: left;
    background-position: left;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding: 20px;
    font-weight: 500;
}

#senha::placeholder{
    background-image: url("https://e7.pngegg.com/pngimages/102/821/png-clipart-padlock-computer-icons-padlock-technic-padlock.png");
    text-align: left;
    background-position: left;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding: 20px;
    font-weight: 500;

}

h2 a{
    color: #EEB253;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: 5px solid black;
    padding-bottom: 3px;
    display: inline-block;
    border-radius: 3px;
}

#botao{
    color: white;
    background-color: #01093F;
    opacity: 80%;
}

p{
    margin-top: 5px;
    font-size: 9pt;
}

span a{
    color: #FD7058;
}

