*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    border: blanchedalmond;
}

.sidebar .logo-details{

}
.sidebar .logo-details{

}