@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --blue: #01093F;
  --white: #ffffff;
  --black: #000000;
  --laranja: #EEB253;
}

h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: large;
}

.continer-top {
  display: flex;
  width: 100%;
}

.conteiner-titulo {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50%;
  padding: 0 0px;
}

.info-receitas {
  margin-left: 5px;
  background-color: #EEB253;
  color: #fff;
  padding: 2% 2%;
  margin-left: 0%;
  text-align: left;
  border-radius: 50px;
  margin-left: 10px;
}

<<<<<<< HEAD
.info-receitas a {
  font-size: 0.5rem;
  color: #fff;

}

=======
>>>>>>> f090175ec637b0c930d28d060e392776e29808d5
.search-container {
  display: flex;
  margin-left: 20%;
}

/* Estilo para o botão "Nova Receita" */
.nova-button {
  background-color: #EEB253;
  color: #fff;
  padding: 10% 15px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  font-size: 0.8rem;
}

.button {
  margin-left: 5px;
  margin-right: 10px;
}