#titulo{
  text-align: left;
  margin-bottom: 25px;
}

#sub-titulo{
  display: grid;
  width: auto;
  grid-template-columns: 35% 25% 35%;
  margin-right: 20px;
  text-align: center;
  align-items: center;
}

#sub-titulo hr{
  margin: 0px;
  width: 100%;
}

#sub-titulo h2{
  display: block;
  width: 100%;
  margin-bottom: 10px 0px;
  font-size: 20px;
}

.box-parametro {
  display: flex;
}

.conteiner-conteudo {
  width: auto;
  height: auto;
  padding-left: 350px;
  padding-top: 30px;
  text-align: left;
  display: block;
  margin-left: auto;
}

.cards-conteiner{
  margin-right: 100px;
}

#cards-conteiner-1{
  display: grid;
  grid-template-columns: repeat(4, 90px); 
  grid-gap: 10%; 
  justify-content: center;
  align-content: center; 
  margin-top: 20px; 
  text-align: center;
}

#cards-conteiner-2{
  display: grid;
  grid-template-columns: repeat(3, 90px); 
  grid-gap: 10%; 
  justify-content: center; 
  align-content: center;
  margin-top: 20px; 
  text-align: center;
}

.card{
  background-color: #EEB253;
  display: grid;
  height: 130px;
  margin: 10% 5% 3% 0%;
  width: 110px;
  border-radius: 3px;
  box-shadow: 1px 4px 10px #000;
  transition: 0.3s;
  padding: 0px 0px 0px 0px;
}

.card a>span{
  display: block;
  margin-bottom: 15px;
}

.card img{
  width: 30px;
  margin-top: 15px;
  color: #ffffff;
}

.card p{
  text-align: center;
  align-items: center;
  margin-top: 10px;
}

/* --------- INPUT PESQUISA ------------------- */

.box-busca { 
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 25px;
}

.search-box-input::placeholder {   
  color: #000000;
  opacity: 0.6;
}

/* Chrome, Opera y Safari */
.search-box-input::-webkit-input-placeholder { color: #000000; }

/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #000000; }

/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #000000; }

.search-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  align-items: center; 
  border: 1x solid rgba(0, 0, 0, 0.214);
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: #000000;
}

.search-box-input {
  position: absolute;
  top: 0;
  padding: 3px;
  width: 100%;
  border-radius: 30px;
  font-size: 1rem;
  transition: .45s;
  border: 1px solid #00000052;
  padding-left: 15px;
  background-color: transparent;
}

.search-box-button {
  position: relative;
  display: flex;
  width: 38px;
  height: 25px;
  text-align: left;
  margin-left: 10px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: .3s;
  opacity: 50%;
  text-align: right;
  right: -90%;
  margin-top: 2px;
  background-color: rgba(255, 255, 255, 0);
}


/* Estilo para o botão "Nova Receita" */
.nova-receita-button {
  background-color: #EEB253;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: auto;
}