@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --blue: #01093F;
  --white: #ffffff;
  --black: #000000;
  --laranja: #EEB253;
}

/* Estilos para a tabela em telas maiores */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #D9D9D9;
    background-color: rgba(217, 217, 217, 0.2); /* Cor de fundo com 20% de opacidade */
}

/* Estilos para linhas ímpares (brancas) */
tr:nth-child(odd) {
    background-color: #fff;
}

/* Estilos para a coluna de seleção */
.select-column {
    width: 50px;
    text-align: center;
}

/* Estilos para os links de operações */
.operation-link {
    margin-right: 5px;
    text-decoration: none;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    table {
        font-size: 14px; /* Reduza o tamanho da fonte */
    }

    /* Redefina as larguras das colunas para telas menores */
    th, td {
        width: auto; /* Volte para a largura automática */
    }

    /* Esconda a coluna de seleção em telas menores, se necessário */
    .select-column {
        display: none;
    }
}
