@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400&display=swap');

:root {
    --primary: #EEB253 ;
    --primary-hover: #CD7D7C;                
    --erro: #c62a2594;
    --white: white;
    --black: black;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ffff;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#section-esquerda{
    width: 45%;
    align-items: center;
    background-color: var(--primary);
    height: 100%;
    position: fixed;
    float: left;
}
#div-logo{
    margin: auto 15%;
}
#div-logo img{
    width: 90%;
    margin-top: 12rem;
    margin-bottom: 12rem;
}

#section-direita{
    width: 55%;
    float: right;
}

/* Notificação */
.notification {
    position: absolute;
    top: 5px;
    right: 5px;
    width: max-content;
    border-radius: 6px;
    background-color: var(--erro);
    color: var(--black);
    box-shadow: 0 1px 10px rgb(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 5s linear;
}

.notification p {
    font-size: 1rem;
}

.notification_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 11px;
}

.notification_progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleY(0);
    transform-origin: left;
    background: linear-gradient(to right, #3e2f2c, #ff694f);
    border-radius: inherit;
    animation: progress 4.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}
/*--------------*/

/*#erro-login{
    padding: 20px;
    color:  var(--black);
    font-size: 16pt;
    margin: 2%;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: var(--erro);
    transition: all .3s ease;
}*/

#conteiner-dados{
    margin: 10% 20% 10% 20%;
    text-align: center;
}

.my-form{
    position: relative;
    gap: 16px;
    min-width: 280px;
    max-width: 460px;
    padding: 10px;
}

.titulo-login{
    color: var(--primary);
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: 2px solid var(--black);
    padding-bottom: 3px;
    display: inline-block;
    border-radius: 3px;
}

.botao{
    background-color: var(--primary);
    color: var(--white);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.input-text input{
    font-size: 16px;
    font-weight: 500;
    max-width: 80%;
    width: 100%;
    border: 1px solid;
    height: 20px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 20px;
    text-indent: 20px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 30px;
}

.botao:hover {
    background-color: var(--primary-hover);
}

.input-text {
    position: relative;
}

.input-text input::-webkit-input-placeholder { /* Edge */
    text-align: left;
    background-position: left;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding: 10px;
    padding-left: 0px;
    font-weight: 500;
}

.input-text span {
    position: absolute;
    left: 10px;
    bottom: 4px;
    width: 30px;
    height: 30px;
    transform-origin: center;
}

.input-text input:focus {
    border: 1px solid var(--primary);
}

span a{
    color: var(--primary);
}
