@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400&display=swap');

:root {
  --primary: #EEB253;
  --primary-hover: #ff8b61;
  --text: #BE783C;
  --erro: #c62a2594;
  --white: white;
  --black: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.header {
  background-color: var(--black);
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  font-family: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  gap: 30px;
  padding: 35px 10px 30px 0px;
  background: var(--primary);
  
}

.logo {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 200px;
  margin-top: 30px;
}

.menu-lateral a {
  color: var(--black);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 45px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  text-align: left;
}

.menu-lateral a > span {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  padding: 0 16px 0 12px;
}

.menu-lateral a span > span {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.links-menu {
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
  text-align: left;
}

.icone-menu:hover {
  background: rgba(255, 255, 255, 0.3);
}

.menu-lateral>nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-lateral > nav a:last-child {
  margin-top: auto;
}

.perfil {
  position: absolute;
  margin-top: 30%;
  border-top: 1px solid var(--black);
  bottom: 15px;
  width: 100%;
  padding-top: -10px;
}

