@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --blue: #01093F;
  --white: #ffffff;
  --black: #000000;
  --laranja: #EEB253;
}


.conteiner-conteudo{
    margin-left: 300px;
    width: 70%;
    margin-bottom: 15px;
}

/* Estilos para a tabela em telas maiores */
.table {
    width: 100%;
}

th, td {
    padding: 5px;
    text-align: left;
    background-color: #d9d9d9a4; /* Cor de fundo com 20% de opacidade */
}

/* Estilize as células de linhas pares */
.even-row td {
    background-color: #d9d9d93f; /* Cor de fundo para linhas pares */
}
  
  /* Estilize as células de linhas ímpares */
.odd-row td {
    background-color: #d9d9d9a4; /* Cor de fundo para linhas ímpares */
}
  
/* Estilos para a coluna de seleção */
.select-column {
    width: 50px;
    text-align: center;
}

/* Estilos para os links de operações */
.operation-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.operation-link a {
    margin-right: 10px;
}

.conteiner-operacoes{
    cursor: pointer;
}
