@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400&display=swap');

/* EDIÇÕES PARA AS PÁGINAS DE EDIÇÃO E CADASTRO */

:root {
    --primary: #EEB253;
    --primary-hover: #ff8b61;
    --text: #BE783C;
    --erro: #c62a2594;
    --white: white;
    --black: black;
}



.titulo {
    text-align: center;
}

.titulo h2 {
    padding: 10px 20px;
    left: 0px;
    top: -70px;
    height: 30px;
    background-color: #F0C3AA;
    position: absolute;
    width: auto;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.conteiner-abas {
    width: 90%;
}


.conteiner-conteudo div>h1 {
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    padding-left: 15px;
    width: 230px;
    margin-bottom: 0px;
    background-color: #f0c2aab1;
}





.button:hover {
    cursor: pointer;
}

.cancelar {
    position: absolute;
    width: auto;
    height: 25px;
    background-color: #F0C3AA;
    top: -35px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 5px;
    right: 40px;
}

.cancelar button {
    position: absolute;
    width: auto;
    height: 33px;
    padding: 5px;
    background-color: #F0C3AA;
    right: -100px;
    top: 0px;
    border-radius: 10px 10px 0px 0px;
    border: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;


}
.cancelar a {
    font-size: auto;
    font-family: 'Poppins', sans-serif;
}