#titulo{
    text-align: left;
    margin-bottom: 25px;
    margin-top: 10%;
}

#sub-titulo{
    display: grid;
    width: auto;
    grid-template-columns: 35% 25% 35%;
    margin-right: 20px;
    text-align: center;
    align-items: center;
}
#sub-titulo hr{
    margin: 0px;
    width: 100%;
}
#sub-titulo h2{
    display: block;
    width: 100%;
    margin-bottom: 10px 0px;
    font-size: 20px;
}

.cards-conteiner{
    margin-right: 100px;
}

#cards-conteiner-1{
    display: grid;
    grid-template-columns: repeat(4, 90px); /* Quatro colunas com largura de 100px cada */
    grid-gap: 10%; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza horizontalmente */
    align-content: center; /* Centraliza verticalmente */
    margin-top: 20px; /* Ajuste o espaçamento superior conforme necessário */
    text-align: center;
}
#cards-conteiner-2{
    display: grid;
    grid-template-columns: repeat(3, 90px); /* Quatro colunas com largura de 100px cada */
    grid-gap: 10%; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza horizontalmente */
    align-content: center; /* Centraliza verticalmente */
    margin-top: 20px; /* Ajuste o espaçamento superior conforme necessário */
    text-align: center;
}

.card{
    background-color: #EEB253;
    text-align: center;
    display: block;
    height: 120px;
    margin: 10% 5% 3% 0%;
    width: 100px;
    padding: 5px 15px 20px 15px; 
    border-radius: 3px;
    box-shadow: 1px 4px 10px #000;
    transition: 0.3s;

}

.card img{
    width: 50%;
    margin-top: 15px;
}

.card a{
    color: #ffff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/* --------- INPUT PESQUISA ------------------- */

.box-busca{ 
    display: block;
    width: auto;
    margin-left: 20%;
    margin-bottom: 30px;
}

.search-box{
    width: 60%;
    
}


.search-box-input::placeholder {   
    color:#000000;
    opacity: 0.6;
}

/* Chrome, Opera ySafari */
.search-box-input::-webkit-input-placeholder { color: #ffffff; }

/* Firefox 19+ */
.search-box-input::-moz-placeholder { color: #ffffff; }

/* IE 10+ y Edge */
.search-box-input:-ms-input-placeholder { color: #ffffff; }


.search-box form {
    width: 100%;
    display: flex;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.347);
    height: 30px;
    color: #000;
}

.search-box-input {
    padding-left: 15px;
    padding-right: 20px;
    float: left;
    width: 90%;
    font-size: 1rem;
    border: none;
    background: none;
    transition: .45s;
}

input[placeholder]{
    color: #000000;
}

.search-box-button {
   display: flex;
   float: right;
   width: 10%;
   background-image: url('https://cdn-icons-png.flaticon.com/512/149/149852.png');
   text-align: left;
   background-color: rgb(255, 255, 255);
   background-position: right;
   background-size: 1.5rem;
   background-repeat: no-repeat;
   margin: 0px 15px 0px auto;
   font-weight: 500;
   border: none;
   border-radius: 15px;
   cursor: pointer;
   transition: .3s;

}