@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400&display=swap');

/* EDIÇÕES PARA AS PÁGINAS DE EDIÇÃO E CADASTRO */

:root {
    --primary: #EEB253;
    --primary-hover: #ff8b61;
    --text: #BE783C;
    --erro: #c62a2594;
    --white: white;
    --black: black;
}

.conteiner-conteudo-cadastro div>h1 {
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    text-align: center;
    width: 230px;
    background-color: #f0c2aab1;
}

.conteiner-abas {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgba(0, 0, 0, 0.212);
    border-top: none;
}

.mensagens {/* mensagem */
    background-color: rgb(255, 255, 255);
    border: solid 1px rgba(0, 0, 0, 0.212);
    border-top: none;
    border-bottom: none;
    text-align: center;
    padding-top: 20px;
}

.conteiner-abas form {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 20px;
}

.nav-tabs a {
    color: var(--black);
    width: 100%;
    background-color: var(--primary);
    border-radius: 10px 10px 0px 0px;
    font-size: 1rem;
}
.nav-tabs li>a:hover{
    background-color: var(--primary-hover);
    color: var(--white);
}

.nav-link {
    color: var(--primary);
}

.btn-primary {
    margin: 10px;
    background: var(--primary);
    color: var(--black);
    border: none;
}

.btn-primary:hover {
    background: var(--primary-hover);
}

.conteiner-operacoes a {
    position: absolute;
    width: 100px;
    height: 33px;
    padding: 5px;
    justify-content: space-between;
    background-color: #F0C3AA;
    right: 12%;
    top: -34px;
    border-radius: 10px 10px 0px 0px;
}

.title-container h1 {
    font-size: 25px;
    font-weight: bold;
}

/*receita*/
.box-foto {
    text-align: center;
}

.box-foto img {
    width: 350px;
    border: solid 4px rgba(0, 0, 0, 0.212);
    border-style: dotted;
}

.box-form {
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 10px;
}

.conteiner-form-colum {
    width: 100%;
}


.conteiner-form-colum-operacoes {
    float: right;
}

.conteiner-form-colum input {
    width: 100%;
    font-size: 14px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.conteiner-dados-input-select select {
    width: 100%;
    font-size: 14px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px 10px;
}

.conteiner-dados-input-select input {
    width: 15%;
}

.conteiner-dados-input-select input[type=radio] {
    margin-bottom: 10px;
}