@media (max-width: 1280px) {
    section{
        margin-left: auto;
        padding-right: 30px;
    }
}

/* Media query para largura de tela de 1280px */
@media (max-width: 1280px) {
    .titulos h1 {
      font-size: 1.2rem; /* Reduza o tamanho do título */
    }
  
    .info-receitas {
      padding: 8px 8px; /* Reduza o padding do card */
    }
  
    .info-receitas a {
      font-size: 0.7rem; /* Reduza o tamanho do texto do card */
    }

    .button-nova{
        padding: 8px 8px; /* Reduza o padding do card */ 
    }
    .button-nova button{
        font-size: 0.7rem;
    }
}
    
    /* Estilos para telas menores */
@media (max-width: 1280px) { 
    
    .conteiner-conteudo{
        margin-left: 300px;
    }

    
    /* Redefina as larguras das colunas para telas menores */
    th, td {
        font-size: 0.8rem;
        width: auto; /* Volte para a largura automática */
    }

    /* Esconda a coluna de seleção em telas menores, se necessário */
    /* .select-column {
        display: none;
    } */
}
