@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --blue: #01093F;
    --white: #ffffff;
    --black: #000000;
    --laranja: #EEB253;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.conteiner-pesquisa {
    width: auto;
    height: auto;
    padding-left: 300px;
    padding-top: 50px;
    text-align: left;
    display: block;
    margin-left: auto;
}

.titulos h1 {
    margin: 0;
    font-size: 1.5rem;
    /* Tamanho inicial do texto */
}

.titulos a {
    font-family: 'Poppins', sans-serif;
}

.titulos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribui os elementos igualmente no espaço disponível */
    padding: 0px 15px 0px 0px;
}

.conteiner-titulo {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50%;
    margin: 0 3%;
    padding: 0 0px;
}

hr {
    position: relative;
    margin-left: 320px;
    margin-right: 50px;
    background-color: #01093F;
}

.conteiner-conteudo {
    background-color: #112bd1;
    width: 80%;
    display: block;
}

.usuario-log {
    display: flex;
}