.conteiner-conteudo {
    margin-left: 300px;
}

/* Estilos para a tabela em telas maiores */
.table {
    width: 85%;
    table-layout: fixed;
    /* Define a largura das colunas como fixa */
    border-collapse: collapse;
    /* Colapso de borda para evitar espaços entre células */

}

th,
td {
    padding: 5px;
    text-align: left;
    background-color: #d9d9d9a4;
    /* Cor de fundo com 20% de opacidade */
    border: 1px solid rgba(0, 0, 0, 0.042);
    /* Adicione uma borda às células */
}

/* Estilize as células de linhas pares */
.even-row td {
    background-color: #d9d9d93f;
    /* Cor de fundo para linhas pares */
}

/* Estilize as células de linhas ímpares */
.odd-row td {
    background-color: #d9d9d9a4;
    /* Cor de fundo para linhas ímpares */
}

/* Estilos para a coluna de seleção */
.select-column {
    width: 50px;
    text-align: center;
}

/* Estilos para a coluna "Nome" (3/4 da largura) */
th:nth-child(2),
td:nth-child(2) {
    width: 75%;
    /* 3/4 da largura */
}

/* Estilos para a coluna "Operação" (1/4 da largura) */
th:nth-child(3),
td:nth-child(3) {
    text-align: center;
    /* Alinhe o conteúdo à direita */
    justify-content: space-evenly;
}

/* Estilos para os links de operações */
.operation-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Alinhe à direita usando flexbox */
    text-align: right;
    /* Alinhe o texto à direita */
}

.operation-link a {
    margin-left: 10px;
    /* Adicione um espaço à esquerda entre os links de operação */
}

.operation-link button {
    border: none;
}

.conteiner-operacoes {
    cursor: pointer;
}

/* Estilize as células de linhas pares */
.even-row td {
    background-color: #d9d9d93f;
    /* Cor de fundo para linhas pares */
}

/* Estilize as células de linhas ímpares */
.odd-row td {
    background-color: #d9d9d9a4;
    /* Cor de fundo para linhas ímpares */
}

.button:hover{
    cursor: pointer;
}