#sub-titulo a{
    font-size: 12px;
    width: auto;
    height: auto;
    padding-left: 25%;
    padding-top: 6%;
    text-align: left;
}

#titulo{
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#titulo img{
    width: 20px;
}

hr{
    width: 95%;
    margin-bottom: 30px;
}

.conteiner-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}


.card{
    flex-grow: 0;
    flex-basis: 300px;
    background-color: #FD7058;
    text-align: left;
    height: auto;
    margin: 20px 2% 20px 0px;
    width: 35%;
    justify-content: space-between;
    position:-webkit-sticky;
    border-radius: 17px;
    box-shadow: 1px 4px 10px #000;
    transition: 0.3s;
   
}

.card a{
    color: #ffff;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

.card img{
    height: 180px;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 10px;
    width: 100%;
}

.conteudo-card{
    padding-left: 10px;
    display: inline-flex;
    width: 100%;
    height: auto;
    text-align: left;
    align-items: flex-start;
}

.conteudo-card a{
    display: inline-flex;
}

.conteudo-card img{
    width: auto;
    height: auto;
}

.nomeReceita{
    float: left;
    width: 80%;
    margin: 0px 3% 5% 0%;
    
}

.nomeReceita a{
    text-align: left;
}

.edicaoReceita{
    float: right;
    width: 20%;
    height: auto;
    display: flex;
    margin-right: 10%;
    margin-top: 3%;
}

.edicaoReceita img{
    width: 100%;
}

.edicaoReceita a{
    margin-right: 5px;
}

.edicaoReceita img + img {
    margin-left: 10px;
}