#sub-titulo a{
    font-size: 12px;
    width: auto;
    height: auto;
    padding-left: 30%;
    padding-top: 6%;
    text-align: left;
}

#titulo{
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#titulo img{
    width: 20px;
}

hr{
    width: 95%;
    margin-bottom: 30px;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between 15px; /* Distribui o espaço entre as linhas */
}

.card {
    background-color: #FD7058;
    text-align: center;
    display: inline-block;
    height: auto;
    margin: 2%;
    width: 20%;
    padding: 15px 25px 15px 25px;
    position:-webkit-sticky;
    border-radius: 17px;
    box-shadow: 1px 4px 10px #000;
    transition: 0.3s;
}


.card a{
    color: #ffff;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

 img{
    width: 100%;
}