/* Notificação */
.notification {
    position: absolute;
    top: 5px;
    right: 5px;
    width: max-content;
    border-radius: 6px;
    background-color: var(--erro);
    color: var(--black);
    box-shadow: 0 1px 10px rgb(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 5s linear;
}

.notification p {
    font-size: 1rem;
}

.notification_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 11px;
}

.notification_progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleY(0);
    transform-origin: left;
    background: linear-gradient(to right, #3e2f2c, #ff694f);
    border-radius: inherit;
    animation: progress 4.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

